nn_deep_learning_2021_v2.zip
nn_deep_learning_2021.zip
dl_env/*
hw1/classifier_data/*
hw1/training/*
hw1/regression_dataset/*
hw1/images/*
hw1/train_data.csv
hw1/val_data.csv
hw1/test_data.csv
hw2/data/*
hw3/data/*
hw2/images_huber/*
hw2/images_L1/*
hw2/good_models_huber/*
hw2/good_models_L1/*
hw2/good_models/*
hw2/images/*
hw3/training/*
/home/irong/nn_deep_learning_2021/hw2/good_models/*
lab3/classifier_test_data.csv
lab3/classifier_train_data.csv
lab3/classifier_val_data.csv
lab3/net_parameters.torch
lab3/optimizer_state.torch
lab3/train_data.csv
lab3/val_data.csv
lab3/lightning_logs/*
lab5/decoder_params.pth
lab5/encoder_params.pth
lab5/autoencoder_progress_10_features/*
lab5/autoencoder_progress_2_features/*
lab5/dataset/*
